[data-theme='light'] {
  --color-key: hsl(0, 0%, 100%);

  --bg-color-key: hsl(0, 0%, 49%);
  --bg-color-key-hover: hsl(0, 0%, 60%);
  --bg-color-key-active: hsl(0, 0%, 70%);

  --bg-input: hsl(0, 0%, 31%);

  --bg-color-theme: #ffffff;

  --bg-color-operator_top: hsl(0, 0%, 39%);
  --bg-color-operator_top-hover: hsl(0, 0%, 50%);
  --bg-color-operator_top-active: hsl(0, 0%, 60%);

  --bg-color-operator_right: hsl(36, 100%, 52%);
  --bg-color-operator_right-hover: hsl(36, 100%, 62%);
  --bg-color-operator_right-active: hsl(36, 100%, 72%);
}

[data-theme='dark'] {
  --color-key: #000000;
  --bg-color-key: hsl(0, 19%, 84%);
  --bg-color-key-hover: hsl(0, 19%, 74%);
  --bg-color-key-active: hsl(0, 19%, 64%);

  --bg-input: hsl(0, 71%, 81%);

  --bg-color-theme: rgb(0, 0, 0);

  --bg-color-operator_top: hsl(0, 19%, 54%);
  --bg-color-operator_top-hover: hsl(0, 19%, 64%);
  --bg-color-operator_top-active: hsl(0, 19%, 74%);

  --bg-color-operator_right: hsl(123, 100%, 52%);
  --bg-color-operator_right-hover: hsl(123, 100%, 42%);
  --bg-color-operator_right-active: hsl(123, 100%, 32%);
}

body {
  margin: 0;
}

.theme {
  background-color: var(--bg-color-theme);
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  flex-basis: 300px;
  overflow: hidden;
  border-radius: 20px;
}

.display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.display__key {
  border: 1px solid #606060;
  color: var(--color-key);
  background-color: var(--bg-color-key);
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;

  &.operator_top {
    background-color: var(--bg-color-operator_top);

    &:hover {
      background-color: var(--bg-color-operator_top-hover);
    }
    &:active {
      background-color: var(--bg-color-operator_top-active);
    }
  }

  &.operator_right {
    background-color: var(--bg-color-operator_right);
    font-size: 32px;

    &:hover {
      background-color: var(--bg-color-operator_right-hover);
    }
    &:active {
      background-color: var(--bg-color-operator_right-active);
    }
  }
  &.display__key_zero {
    grid-column: 1/3;
  }

  &:hover {
    background-color: var(--bg-color-key-hover);
  }
  &:active {
    background-color: var(--bg-color-key-active);
  }
}

.input {
  width: 100%;
  text-align: right;

  padding: 10px 0 10px;
  font-size: 32px;
  border: none;

  color: var(--color-key);
  background-color: var(--bg-input);
}

.tabs {
  display: flex;
  gap: 8px;
  padding: 10px;
  background-color: var(--bg-input);
}

.tabs div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.close {
  background-color: #ff5f56;
}

.minimize {
  background-color: #ffbd2e;
}

.maximize {
  background-color: #27c93f;
}

.container-theme {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  margin-right: 10px;
}

.container-switcher {
  width: 51px;
  height: 31px;
  position: relative;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow:
    0px 3px 8px rgba(0, 0, 0, 0.15),
    0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: #34c759;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}
